{% extends "users/base.html" %}
{% block content %}
<style>
    /* Custom Styles */

    .card-header.bg-yellow {
        background-color: #FFD700; /* Yellow */
    }

    .text-blue {
        color: #0000FF; /* Blue */
    }

    .btn-github {
        background-color: #333; /* GitHub color */
        color: #fff; /* White text */
        transition: background-color 0.3s ease;
    }

    .btn-github:hover {
        background-color: #24292e; /* Darker GitHub color on hover */
    }

    .btn-google {
        background-color: #DB4437; /* Google color */
        color: #fff; /* White text */
        transition: background-color 0.3s ease;
    }

    .btn-google:hover {
        background-color: #c1351b; /* Darker Google color on hover */
    }

    .btn-login {
        background-color: #FFA500; /* Orange */
        color: #fff; /* White text */
        transition: background-color 0.3s ease;
    }

    .btn-login:hover {
        background-color: #FF8C00; /* Darker orange on hover */
    }
</style>
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}